<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button style="border: none;background-color:white;" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="image">
            <img src = "https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="My Happy SVG"/>
        </div>
        <h1 class="example-app-name">Fundoo</h1>
        <div class="search" style="cursor: pointer;">
            <img width=35px height= 30px src = "../../../assets/icons8-search.svg" alt="My Happy SVG"/>
            <p>Search</p>
        </div>
        <div class="icons" style="cursor: pointer;">
            <img width=25px src="../../../assets/icons8-refresh-24.png"/>
        </div>
        <div class="icons" style="cursor: pointer;">
            <img width=25px src="../../../assets/icons8-view-headline-24.png"/>
        </div>
        <div class="icons" style="cursor: pointer;">
            <img width=25px src="../../../assets/icons8-settings (2).svg"/>
        </div>
        <div class="icon" style="cursor: pointer;">
            <img width=30px src="../../../assets/images.png"/>
        </div>
        <div class="icons" style="cursor: pointer;">
            <img width=30px src="../../../assets/account_circle_black_24dp.svg"/>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
            <mat-nav-list class="back">
                    <a mat-list-item class="Notes" (click)="navigateToNotes()"><img width=25px src="../../../assets/lightbulb_black_24dp.svg" style="padding-right: 40px;"/> notes</a>
                    <a mat-list-item class="Notes" routerLink="/remainder"><img width=25px src="../../../assets/notifications_black_24dp.svg"style="padding-right: 40px;"/> Remainder </a>
                    <a mat-list-item class="Notes" routerLink="/edit"><img width=25px src="../../../assets/edit_black_24dp.svg"style="padding-right: 40px;"/> Edit labels </a>
                    <a mat-list-item class="Notes" routerLink="/archive"><img width=25px src="../../../assets/archive_black_24dp.svg"style="padding-right: 40px;"/> Archive </a>
                    <a mat-list-item class="Notes" routerLink="/trash"><img width=25px src="../../../assets/delete_black_24dp.svg"style="padding-right: 40px;"/> Trash </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
