.Icons{
    display: flex;
    align-items: left;
    flex-direction: row;
    padding: 0px 8px 0px 0px;
    color: rgba(184, 180, 180, 0.5);
}
.icons{
    align-items: center;
    padding-top: 5px;
    padding: 0px 25px 0px 0px;
}