<div class="Icons" fxLayout="row"style="cursor: pointer;">
    <div class="icons" style="cursor: pointer;">
        <img width=18px src="../../../assets/add_alert_black_24dpreminder.svg"/>
    </div>
    <div class="icons" style="cursor: pointer;">
        <img width=18px src="../../../assets/person_add_alt_black_24dp add person.svg"/>
    </div>
    <div class="icons" style="cursor: pointer;">
        <img width=18px src="../../../assets/palette_black_24dp color.svg"/>
    </div>
    <div class="icons" style="cursor: pointer;">
        <img width=18px src="../../../assets/photo_black_24dp image.svg"/>
    </div>
    <div class="icons" style="cursor: pointer;">
        <img width=18px src="../../../assets/archive_black_24dp (1) archive.svg"/>
    </div>
    <div class="icons" style="cursor: pointer;">
        <img width=18px src="../../../assets/more_vert_black_24dp more.svg"/>
    </div>
</div>

