.Dispaly{
    position: relative;
    height: 20%;
    border-radius: 15px;
    width: 230px;
    margin-left: 15px;
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(206, 201, 201);
    font-size: medium;
}
.example-app-name {
    width:2%;
    display: flex;
    align-items: left;
    flex-direction: row;
}
.pin{
    margin: 10%;
    margin-left: 150px;
}
