<div class=Components>
    <div class="Containing">
        <div class="F">
            <span class="f">F</span><span class="U">u</span>
            <span class="N">n</span>
            <span class="D">d</span>
            <span class="O">o</span>
            <span class="o">o</span>
        </div>
        <div class="Sign">Create New Password</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="Password" fxLayout="column" fxLayoutAlign="stretch">
                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="Email" formControlName="password">
                    <mat-hint>Use 6 or more characters with mix of letters,numbers,specialchar</mat-hint>
                    <mat-error>Enter your password</mat-error>
                </mat-form-field>
            </div>
            <div class="Cpassword" fxLayout="column" fxLayoutAlign="stretch">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="confirm password" formControlName="confirmPassword">
                    <mat-error>Enter your confirm password</mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="button">Next</button>
        </form>
    </div>
</div>