.Components{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1px;
    height: 90%;
    width: 65%;
    margin: auto;
    border: 50px solid white;

}
.Containing{
    height: 150%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(185, 179, 179);
}
.F{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    font: normal normal bold 24px/37px Roboto;
    color:rgb(34, 88, 238);
    align-items: center;
    text-align: row;
    margin-top: 80px;
}
.U{
    color: red;
}
.N{
  color:yellow;
}
.D{
    color:rgb(34, 88, 238);
}
.O{
    color:green;
}
.o{
    color: red;
}
.Sign{
   text-align: center;
   font-size: medium;
   color: black;
   font: normal normal  24px/37px Roboto;
}
.Password{
    font: normal normal bold 15px/10px Roboto;
    width: 400px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 50px;
}
.Cpassword{
    font: normal normal bold 15px/10px Roboto;
    width: 400px;
    margin:20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
}
.button{
    background-color:blue;
    color: white;
    width: 60px;
    bottom: 25px;
    height: 35px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-left:350px;
    margin-right: 10px;
}